@import "../../index.scss";

$appbar-transition: scale(1.04);


.appbar-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.appbar {
  display: flex;
  // background-color: rgb(255, 255, 255);
  border: 1px solid black;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 500px;
  border-radius: 50px;
  padding: 10px;
  transition:
    border-color 0.5s,
    transform 0.5s;

  &:hover {
    transform: $appbar-transition;
  }

  input {
    border-color: rgb(113, 113, 113);
    background-color: transparent;
    border: 1px solid grey;
    text-align: center;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    width: 100px;
    transition: background-color 0.5s;
    transition: transform 0.5s;

    &::placeholder {
      color: rgb(0, 0, 0);
    }

    &:hover {
      transform: $appbar-transition;
    }
  }

  button {
    border-color: $primaryColor;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    width: 40px;
    height: 40px;

    &:hover {
      background-color: transparent;
      border-color: $primaryColor;
      color: white;
    }
  }

}
